.c1 {
    background-color: darkblue;
}

.c2 {
    background-color: blue;
}

.c3 {
    background-color: rgb(63, 155, 197);
}

.c4 {
    background-color: lightblue;
}

.c5 {
    background-color: beige;
}